* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --mainBackClr: rgb(17,27,33);
}

html,
body {
  height: 100%;
  font-family: 'Raleway', sans-serif;
}

#root {
  height: 100%;
  min-width: 90%;
  margin: 0 auto;
  background-color: var(--mainBackClr);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .chat_bg {
  background-image: url(./pages/mainPage/chatboard/images/chat_back.png);
  background-position: cover;
  background-repeat: no-repeat;
  background-size: cover;
} */

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: rgb(17,27,33);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(34,46,53);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(42,57,66);
}